<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="dataloader_cliq_path" value="C:\Program Files (x86)\salesforce.com\Data Loader\cliq_process"/>
    <add key="dataloader_cliq_export_order" value="Export_Order"/>
    <add key="dataloader_cliq_export_orderlineitem" value="Export_OrderLineItem"/>
    <add key="sfdc.extractionSOQL.order" value="Select Id, Order_Number__c, Create_Date__c, Total_Price_Inc__c, Reference_Number_1__c, Reference_Number_2__c, Delivery_Notes__c, PaymentMethod__c, AccountNumber__c, Billing_Account__r.Credit_Type__c, First_Name__c, Last_Name__c, Phone__c, Mobile__c, Email__c, Address_1__c, Address_2__c, Address_3__c, Suburb__c, Postcode__c, State__c, Country__c From Order__c Where Status__c = 'Finalised'  and Sent_Date__c = null"/>
    <add key="sfdc.extractionSOQL.orderlineitem" value="Select Id, SKU__c, Name, Quantity__c, Cost_Ex__c, Cost_Inc__c, DispatchPoint__c,  Freight_Method__c, Order__r.Id From OrderLineItem__c"/>
    <add key="dataloader_cliq_upsert_order" value="Upsert_Order"/>
    <add key="limits" value="10000"/>
    <add key="sfdc.username" value="eric.sun.jb@fabricgroup.com.au.full"/>
    <add key="sfdc.password" value="3fbfea6544a27965886c31211bda682d488b923b565c3b5b3e260822bd3701e711f6ec4f8bc5aba6"/>
    <add key="order_xml_export_path" value="ftp://192.168.181.130"/>
    <add key="sftp_username" value="JBSF"/>
    <add key="sftp_password" value="Fabric2010"/>
    <!-- separate multiple emails by semicolon (;) -->
    <add key="mail_to" value="eric.sun@fabricgroup.com.au"/>
    <add key="mail_cc" value=""/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="ApexApplication &lt;info@jp.salesforce.com&gt;">
        <network host="fbserver"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
