<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="dataloader_cliq_path" value="C:\Program Files (x86)\salesforce.com\Data Loader\cliq_process"/>
    <add key="dataloader_cliq_upsert_orderlineitem" value="Upsert_OrderLineItem"/>
    <add key="dataloader_cliq_upsert_order" value="Upsert_Order"/>
    <add key="limits" value="10000"/>
    <add key="sfdc.username" value="eric.sun.jb@fabricgroup.com.au.full"/>
    <add key="sfdc.password" value="3fbfea6544a27965886c31211bda682d488b923b565c3b5b3e260822bd3701e711f6ec4f8bc5aba6"/>
    <add key="order_xml_upsert_path" value="ftp://192.168.181.130/Upsert_Order.xml"/>
    <add key="sftp_username" value="JBSF"/>
    <add key="sftp_password" value="Fabric2010"/>
    <!-- separate multiple emails by semicolon (;) -->
    <add key="mail_to" value="eric.sun@fabricgroup.com.au"/>
    <add key="mail_cc" value=""/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="ApexApplication &lt;info@jp.salesforce.com&gt;">
        <network host="fbserver"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
